

* {
    padding: 0%;
    margin: 0%;


}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    background-color: aquamarine;

}
nav img{
    width: 150px;
    height: 150px;
}

.header {
    font-size: large;
    display: flex;
    padding: 20px;
    gap: 20px;
}
.header a{
    text-decoration: none;
}
.header a:hover {
    color:orange;
    cursor: pointer;
}

#home {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    height: 100vh;
    
}
#home::before{
    content: " ";
    position: absolute;
    background-image: url("pictures/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: -1;
    width: 100%;
    height: 100%;
   
}
#home h1{
    font-size: 48px;
    color:black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#home p{
    font-size: large;
    font-family: cursive;
    color: brown;
}
.tagline{
    margin: 2px;
    animation: fade 3s infinite;
}

@keyframes fade{
    0%{opacity:0;}
    50%{opacity:0.5;}
    100%{opacity:1;}
}


nav h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    color: orange;
    font-size: 50px;
}


.box {
    display: inline-block;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    width: 350px;
    margin: 10px;
    text-align: center;
    padding: 10px;
    font-family: cursive;
    background-color: white;
}
.box h3{
        color: blueviolet;
    }

.box img {
    width: 100%;
    max-width: 200px;
    height: 250px;
    border-radius: 5px;
    object-fit: cover;

}

.box img:hover {
    transform: scale(1.05);
}
.table{
    width: 100%;
    border-collapse: collapse;
    margin: 50px auto;
}
.table th,
.table td{
    padding: 5px;
    border: 1px solid white;
    text-align: center;
}
.table th{
    background-color: aliceblue;
    color: black;
}
.table tr:nth-child(even)
{
    background-color:lightpink;
}
.table tr:hover{
    background-color: rgb(196, 144, 245);
}
#packages h1{
    text-align: center;
    margin: 10px;
    background-color: aquamarine;
    color: blueviolet;
    
}
#packages h1:hover{
    color: orange;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 10px;
    margin: 20px;
}
 .gallery img:hover{
        transform: scale(1.05);
    }


#Gallery h1 {
    margin: 20px;
}

.gallery img {
    width: 100%;
    max-width: 200px;
    height: 150px;
    border-radius: 5px;
    object-fit: cover;
    justify-items: center;
    
}

.about p {



    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    margin: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 25px;
}

.about {
    margin-top: 30px;
}



.contact {
    text-align: center;
    margin-top: 30px;
}

.citems {

    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    margin: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-align: center;
    border-radius: 25px;
}

#Destination h1 {
    background-color: aquamarine;
    text-align: center;
    color: blueviolet;
}
#Destination h1:hover{
        color: orange;
    }

#Gallery h1 {
    background-color: aquamarine;
    text-align: center;
    color: blueviolet;
}
#Gallery h1:hover{
        color: orange;
    }


.about h1 {
    margin: 20px;
    background-color: aquamarine;
    text-align: center;
    color: blueviolet;
}
.about h1:hover{
        color: orange;
    }


.contact {
    margin: 20px;
    background-color: aquamarine;
    text-align: center;
    color: blueviolet;
    
}
.contact h1:hover{
        color: orange;
    }
html {
    scroll-behavior: smooth;

}