* {
    padding: 0%;
    margin: 0%;


}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    background-color: aquamarine;

}
nav img{
    width: 150px;
    height: 150px;
}

.header {
    font-size: large;
    display: flex;
    padding: 20px;
    gap: 20px;
}

.header a:hover {
    color: orange;
    cursor: pointer;
}

#home {
    margin: 20px;

    img {
        width: 1280px;
        height: 800px;
    }
}

nav h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;
    color: orange;
    font-size: 50px;
}


.box {
    display: inline-block;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    width: 350px;
    margin: 10px;
    text-align: center;
    padding: 10px;
    font-family: cursive;
    background-color: white;
    h3{
        color: blueviolet;
    }


}

.box img {
    width: 100%;
    max-width: 200px;
    height: 250px;
    border-radius: 5px;
    object-fit: cover;

}

.box img:hover {
    transform: scale(1.05);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 10px;
    margin: 20px;
}
 .gallery img:hover{
        transform: scale(1.05);
    }


#Gallery h1 {
    margin: 20px;
}

.gallery img {
    width: 100%;
    max-width: 200px;
    height: 150px;
    border-radius: 5px;
    object-fit: cover;
    justify-items: center;
    
}

.about p {



    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    margin: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 25px;
}

.about {
    margin-top: 30px;
}



.contact {
    text-align: center;
    margin-top: 30px;
}

.citems {

    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    margin: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    text-align: center;
    border-radius: 25px;
}

#Destination h1 {
    background-color: aquamarine;
    text-align: center;
    color: blueviolet;
}
#Destination h1:hover{
        color: orange;
    }

#Gallery h1 {
    background-color: aquamarine;
    text-align: center;
    color: blueviolet;
}
#Gallery h1:hover{
        color: orange;
    }


.about h1 {
    margin: 20px;
    background-color: aquamarine;
    text-align: center;
    color: blueviolet;
}
.about h1:hover{
        color: orange;
    }


.contact {
    margin: 20px;
    background-color: aquamarine;
    text-align: center;
    color: blueviolet;
    h1:hover{
        color: orange;
    }
}

html {
    scroll-behavior: smooth;
}